/* General CSS */
* {
	box-sizing: border-box;
}

body {
	background-color: gray;
}

.whiteBackground {
	background-color: white;
	border-radius: 5px
}

.blackBackground {
	background-color: black;
	border-radius: 5px
}

/* Nav */
.navMenu {
	background-color: black;
}

.navLink {
	color: white;
}

/* Top Area */
.mainInfo-Container {
	background-color: black;
	height: 100vh;
	overflow: hidden;
	position: relative;

	background-image: url(content/placeholder.png);
	background-position: 85% 25%;
	background-repeat: no-repeat;
}

.mainInfo-TextArea {
	width: 100%;
	margin-top: 5vh;
	padding-left: 7.5%;

	position: relative;
	overflow: hidden;
}

.mainInfo-Name {
	margin: 0;
	padding: 0;
	color: black;
	font-size: 4em;
}

.mainInfo-List {
	padding: 0;
	line-height: 1.5em;
	list-style-type: none;
	position: relative;
}

.mainInfo-List a {
	color: orange;
	text-decoration: none;
}

.mainInfo-ListLine:before {
	color: white;
	content: "— ";
	text-indent: -5px;
}

.mainInfo-ListLine {
	color: white;
	font-size: 1em;
	font-weight: 500;
}

.mainInfo-Scroll {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0vh;
}

.mainInfo-ScrollText {
	color: gray;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.mainInfo-ScrollArrow {
	display: block;
	color: gray;
	font-size: 3em;
}

@keyframes bounce {
	0%, 100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.bounce {
	-moz-animation: bounce 1.5s infinite;
	-webkit-animation: bounce 1.5s infinite;
	animation: bounce 1.5s infinite;
}


/* Portfolio */
.portfolio-Container {
	background-color: white;
}

.portfolio-Header {
	text-align: center;
	margin: 0;
	padding: .8em;
	font-size: 2.5em;
	color: white;
}

.testC {
	width: 100%;
	margin: auto;
}

.portfolio-Project {
	padding: 0 10px 10px 10px;
}

.portfolio-ProjPadding {
	padding: 10px;
	background-color: #fafafa;
	border-radius: 2px;
	border: 1px solid #eeeeee;
	max-width: 1000px;
	margin: 0 auto;
	height:100%;
}

.portfolio-ProjImgContainer {
	max-height: 300px;
}

.portfolio-ProjImg {
	max-height: 300px;
}

.portfolio-ProjText {
	padding-left: 10px;
	position: relative;
}

.portfolio-projButtons {
	position: absolute;
	bottom: 0;
}

.portfolio-ProjHeader {
	margin: 0;
}

.portfolio-Desc {
	text-align: center;
	margin: 0;
	padding-bottom: 10px;
}

.portfolio-MoreProjects {
	margin: 0 auto;
	width: auto;
	height: 100%;
	text-align: center;
	padding-bottom: 20px;
}

.portfolio-Img {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
}

/* Contact Section */
.contact-Container {
	width: 80%;
	margin: 0 auto;
}

.contact-Info {
	margin: 0 auto;
	width: 70%;
}

.contact-Info ul {
	list-style-type: none;
	padding-left: 0px;
}

.contact-NameContainer {
	padding-right: 5px;
}

.contact-Name {
	width: 100%;
}

.contact-EmailContainer {
	padding-left: 5px;
}

.contact-Email {
	width: 100%;
}

.contact-Message {
	width: 100%;
}

.contact-Submit {
	background-color: black;
	margin-top: 5px;
}

/* Don't anchor project download links to bottom of project card on smaller screens */
@media only screen and (max-width: 1730px) {
	.portfolio-projButtons {
		position: relative;
	}
}

/* Small size in Pure, make portfolio section look good on small screens */
@media only screen and (max-width: 568px) {
	.portfolio-ProjImg {
		margin: 0 auto;
		border: 1px solid red;
	}

	.portfolio-ProjHeader {
		margin: 0;
		padding-top: 10px;
	}
}

/* Medium size in Pure, make contact text entries look nice. */
@media only screen and (max-width: 768px) {
	.contact-NameContainer {
		padding-right: 0;
	}

	.contact-EmailContainer {
		padding-left: 0;
	}
}